[submodule "mapVBVD"]
	path = matlabtools/toolboxes/mapVBVD
	url=file://V:/projects/software/ImageReconstruction/toolboxes/mapVBVD
[submodule "matlabtools/toolboxes/NYU"]
	path = matlabtools/toolboxes/NYU
	url = file:V:/projects/software/ImageReconstruction/toolboxes/NYU
[submodule "matlabtools/toolboxes/Nifti_toolbox"]
	path = matlabtools/toolboxes/Nifti_toolbox
	url = file://V:/projects/software/ImageReconstruction/toolboxes/Nifti_toolbox
[submodule "matlabtools/toolboxes/MIRT"]
	path = matlabtools/toolboxes/MIRT
	url = file://V:/projects/software/ImageReconstruction/toolboxes/MIRT