[submodule "mapVBVD"]
	path = matlabtools/toolboxes/mapVBVD
	url = https://github.com/marnixmaas/tbx_mapVBVD
[submodule "matlabtools/toolboxes/NYU"]
	path = matlabtools/toolboxes/NYU
	url = https://github.com/marnixmaas/tbx_NYU
[submodule "matlabtools/toolboxes/Nifti_toolbox"]
	path = matlabtools/toolboxes/Nifti_toolbox
	url = https://github.com/marnixmaas/tbx_Nifti_toolbox
